.card {
    width: 10vw;
    height: 10vw;
    display: inline-block;
    text-align: center;
}

.imageHolder {
    display: flex;
    position: relative;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    filter: blur(0) brightness(100%);
    transition: 1s;
}

.imageHolder p {
    
    color: transparent;
    transition: 1s;
}

// TODO: animate these for smooth transition later
.imageHolder:hover {
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: 1s;
}

.imageHolder:hover img {
    filter: blur(5px) brightness(50%);
    transition: 1s;
}

.imageHolder:hover p {
    color: white;
    z-index: 2;
    position: absolute;
    transition: 1s;
}