.card {
    width: 10vw;
    height: 10vw;
    display: inline-block;
    text-align: center;
}

.imageHolder {
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    
}

.imageHolder p {
    color: transparent;
}

// TODO: animate these for smooth transition later
.imageHolder:hover {
    background-color: black;
}

.imageHolder:hover img {
    filter: brightness(0.5);
    filter: blur(5px);
}

.imageHolder:hover p {
    color: white;
    z-index: 2;
    position: absolute;
}