
// light mode
$footer-background: #393939;
$footer-text: white;
$navbar-text: black;
$navbar-background: #e0e0e0;
$primary-background: white;
$primary-text: black;
$button-a: black;
$button-b: white;
$hr-colour: #d5d5d5;
$secondary-background: #f4f4f4;
$circle-background: #d9d9d9;

// dark mode
@if (prefers-color-scheme: dark) {
    $footer-background: #393939;
    $footer-text: white;
    $navbar-text: black;
    $navbar-background: #e0e0e0;
    $primary-background: white;
    $primary-text: black;
    $button-a: black;
    $button-b: white;
    $hr-colour: #d5d5d5;
    $secondary-background: #f4f4f4;
    $circle-background: #d9d9d9;
}
