
// light mode
$footer-background: #393939;
$footer-text: white;
$navbar-text: black;
$navbar-background: #e0e0e0;
$background: white;
$text: black;
$button-a: black;
$button-b: white;
$hr-colour: #d5d5d5;

// dark mode
@if (prefers-color-scheme: dark) {
    $footer-background: #393939;
    $footer-text: white;
    $navbar-text: black;
    $navbar-background: #e0e0e0;
    $background: white;
    $text: black;
    $button-a: black;
    $button-b: white;
    $hr-colour: #d5d5d5;
}
