
// light mode
$footer-background: #393939;
$footer-text: white;
$navbar-text: black;
$navbar-background: #e0e0e0;
$primary-background: white;
$primary-text: black;
$button-a: black;
$button-b: white;
$button-hover: #56e056; 
$hr-colour: #d5d5d5;
$secondary-background: #f4f4f4;
$circle-background: #058809;

// dark mode
@if (prefers-color-scheme: dark) {
    $footer-background: #393939;
    $footer-text: white;
    $navbar-text: white;
    $navbar-background: #424242;
    $primary-background: #222;
    $primary-text: white;
    $button-a: white;
    $button-b: black;
    $button-hover: #08f712;
    $hr-colour: #d5d5d5;
    $secondary-background: #333;
    $circle-background: #40B549;
}
