@use "colours.scss";

.footer * {
    list-style-type: none;
}

.footer {
    padding: 2vw 0;
    bottom: -1;
    position: absolute;
    min-width: 100vw;
    background-color: colours.$footer-background;
    line-height: 2;
    height: 16vw;
    color: colours.$footer-text;
}

.thirtyPercentInlineBlock {
    width: 30%;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.navigation {
    text-align: left;
    margin: auto;
    display: inline-block;
}

.navigation ul {
    font-weight: bold;
}

.socials {
    text-align: left;
    display: inline-block;
}

.contact {
    text-align: left;
    display: inline-block;
}

.footer a:hover {
    color: colours.$button-hover;
}