@use "colours.scss";

.hero {
  text-align: center;
  line-height: 1.5;
}

.hero button {
  font-family: Inter;
  border-radius: 0.3em;
  border: 1px colours.$button-a solid;
  font-size: 1.3em;
  padding: 0.3em;
  margin: 0.5em;
}

.hero h1 {
  font-size: 6em;
  font-weight: bold;
}

.hero h3 {
  font-size: 3em;
}

.join {
  background-color: colours.$button-b;
  color: colours.$button-a;
}

.sponsors {
  background-color: colours.$button-a;
  color: colours.$button-b;
}

.hr {
  width: 80%;
  background-color: colours.$hr-colour;
  color: colours.$hr-colour;
}

.sponsorsDisplay {
  height: 10vh;
  text-align: center;
}

.sponsorCard {
  height: 10vh;
  width: 10vh;
  display: inline-block;
  position: relative;
}
