@use "colours.scss";

.hero {
  text-align: center;
  line-height: 1.5;
}

.hero button {
  font-family: Inter;
  border-radius: 0.3em;
  border: 1px colours.$button-a solid;
  font-size: 1.3em;
  padding: 0.3em;
  margin: 0.5em;
}

.hero h1 {
  font-size: 5em;
  font-weight: bold;
}

.hero h3 {
  font-size: 2em;
}

.join {
  background-color: colours.$button-b;
  color: colours.$button-a;
}

.sponsors {
  background-color: colours.$button-a;
  color: colours.$button-b;
}

.hr {
  width: 80%;
  background-color: colours.$hr-colour;
  color: colours.$hr-colour;
}

.sponsorsDisplay {
  margin: auto;
  width: 80%;
  text-align: center;
}

.sponsorCard {
  height: 10vh;
  width: 10vh;
  display: inline-block;
  position: relative;
}

.mission {
  background-color: colours.$secondary-background;
  width: 100vw;
  text-align: center;
}

.mission h2 {
  font-size: 3em;
}

.mission p {
  font-size: 1.2em;
  width: 80%;
  margin: auto;
}

.missionCard {
  width: 30%;
  display: inline-block;
}

.missionCard div {
  width: 30vw;
  height: 20vw;
  position: relative;
}