@use "colours.scss";

.hero {
  text-align: center;
  line-height: 1.5;
  // height: 100vh;
}

.hero h1 {
  font-size: 5vw;
  font-weight: bold;
}

.hero h3 {
  font-size: 2vw;
}

.hr {
  width: 80%;
  background-color: colours.$hr-colour;
  color: colours.$hr-colour;
}

.sponsorsDisplay {
  margin: auto;
  width: 80%;
  text-align: center;
}

.sponsorCard {
  height: 10vh;
  width: 10vh;
  display: inline-block;
  position: relative;
}

.mission {
  background-color: colours.$secondary-background;
  width: 100vw;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.mission h2 {
  font-size: 3vw;
}

.mission p {
  font-size: 1.2vw;
  width: 80%;
  margin: auto;
}

.missionCard {
  width: 30%;
  display: inline-block;
}

.missionCard div {
  width: 30vw;
  height: 20vw;
  position: relative;
}

.about {
  padding-top: 2%;
  background-color: colours.$primary-background;
  color: colours.$primary-text;
  width: 100vw;
  text-align: center;
  padding-bottom: 2%;
}

.textHolder {
  width: 30%;
  display: inline-block;
  margin: auto;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.imageHolder {
  padding-left: 5%;
  padding-right: 5%;
  width: 30%;
  position: relative;
  display: inline-block;
  height: 20vw;
}

.contact {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: colours.$secondary-background;
}