.navbar {
    text-align: right;
    background-color: black;
    height: 7vh;
}

.item {
    display: inline-block;
    width: 15%;
    font-size: 1.3rem;
    text-align: center;
    height: 7vh;
}


.item:hover {
    background-color: yellow;
}



.logo {
    padding: 5vh;
    display: inline-block;
    left: 0;
    position: absolute;

}

.logo:hover {
    filter: invert(100%);
}