@use "colours.scss";

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: colours.$navbar-background;
    color:colours.$navbar-text;
    height: 7vh;
    z-index: 100;
}

.rightAlign {
    display: inline-block;
    text-align: right;
    width: 80vw;
}

// .navbar * :hover {
//     filter: invert(100%);
// }

.item {
    height: 100%;
    margin: auto;
    display: inline-block;
    font-size: 1.3rem;
    text-align: center;
    max-height: 7vh;
    padding: 0.5%;
}

.item:hover {
    filter: invert(100%);
}

// .item:hover {
//     background-color: yellow;
// }



.logo {
    padding: 0.5%;
    font-size: 1.3rem;
    display: inline-block;
    text-align: left;
    height: 100%;
    width: 18vw;
}

.logo:hover {
    filter: invert(100%);
}